In [1]:
import pandas as pd
import numpy as np

In [2]:
population=pd.read_csv('population_original1.csv')

In [3]:
population

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,106314.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,77142.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1775680.0,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1794248.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315355.0,5393036.0,5473671.0,5556766.0,5641597.0,5727751.0,...,23154855.0,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0,27834821.0,28498687.0,29161922.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099840.0,17524533.0,17965725.0,18423161.0,18896307.0,19384841.0,...,51216964.0,52004172.0,52834005.0,53689236.0,54545991.0,55386367.0,56203654.0,57000451.0,57779622.0,58558270.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070776.0,3164329.0,3260650.0,3360104.0,3463213.0,3570464.0,...,13605984.0,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0,16853688.0,17351822.0,17861030.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776681.0,3905034.0,4039201.0,4178726.0,4322861.0,4471177.0,...,12697723.0,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0,14236745.0,14439018.0,14645468.0

In [4]:
population.to_csv("population_clean.csv")

# Now I want to combine the population and migration tables

In [5]:
population_table=pd.read_csv('population_clean.csv')
migration_table=pd.read_csv('migrarion_clean.csv')

In [6]:
population_table

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,106314.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,77142.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1775680.0,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1794248.0
260,260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315355.0,5393036.0,5473671.0,5556766.0,5641597.0,...,23154855.0,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0,27834821.0,28498687.0,29161922.0
261,261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099840.0,17524533.0,17965725.0,18423161.0,18896307.0,...,51216964.0,52004172.0,52834005.0,53689236.0,54545991.0,55386367.0,56203654.0,57000451.0,57779622.0,58558270.0
262,262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070776.0,3164329.0,3260650.0,3360104.0,3463213.0,...,13605984.0,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0,16853688.0,17351822.0,17861030.0
263,263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776681.0,3905034.0,4039201.0,4178726.0,4322861.0,...,12697723.0,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0,14236745.0,14439018.0,14645468.0

In [7]:
migration_table

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,0,Aruba,ABW,Net migration,SM.POP.NETM,-4323.0,-4275.0,-3537.0,-5470.0,-1921.0,-5194.0,14218.0,6926.0,6263.0,-441.0,1253.0,1004.0
1,1,Afghanistan,AFG,Net migration,SM.POP.NETM,-20000.0,-20000.0,-20000.0,-1153959.0,-3345095.0,-1525351.0,3076383.0,-867540.0,744193.0,-1046361.0,521769.0,-314602.0
2,2,Angola,AGO,Net migration,SM.POP.NETM,-296717.0,-587286.0,199800.0,199800.0,234148.0,188491.0,142812.0,199800.0,261100.0,357301.0,166267.0,32066.0
3,3,Albania,ALB,Net migration,SM.POP.NETM,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-443212.0,-179606.0,-176774.0,-217358.0,-136590.0,-69998.0
4,4,Andorra,AND,Net migration,SM.POP.NETM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Net migration,SM.POP.NETM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,260,"Yemen, Rep.",YEM,Net migration,SM.POP.NETM,-100000.0,-245662.0,-360993.0,-75000.0,-50000.0,-50000.0,607781.0,-100000.0,-112150.0,-65768.0,-75010.0,-150000.0
261,261,South Africa,ZAF,Net migration,SM.POP.NETM,106550.0,199359.0,222659.0,73316.0,180998.0,-118001.0,852860.0,639902.0,788982.0,862221.0,919697.0,727026.0
262,262,Zambia,ZMB,Net migration,SM.POP.NETM,-35328.0,-22042.0,-20000.0,-25000.0,10000.0,-75000.0,-150000.0,20000.0,-150000.0,-175000.0,-50000.0,-40000.0
263,263,Zimbabwe,ZWE,Net migration,SM.POP.NETM,-15009.0,-42001.0,-45547.0,-152283.0,99068.0,84354.0,-298236.0,-524671.0,-697817.0,-512676.0,-622997.0,-584288.0

In [8]:
migration_table.drop('Unnamed: 0',axis=1, inplace=True)

In [9]:
migration_table

,Country Name,Country Code,Indicator Name,Indicator Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,Aruba,ABW,Net migration,SM.POP.NETM,-4323.0,-4275.0,-3537.0,-5470.0,-1921.0,-5194.0,14218.0,6926.0,6263.0,-441.0,1253.0,1004.0
1,Afghanistan,AFG,Net migration,SM.POP.NETM,-20000.0,-20000.0,-20000.0,-1153959.0,-3345095.0,-1525351.0,3076383.0,-867540.0,744193.0,-1046361.0,521769.0,-314602.0
2,Angola,AGO,Net migration,SM.POP.NETM,-296717.0,-587286.0,199800.0,199800.0,234148.0,188491.0,142812.0,199800.0,261100.0,357301.0,166267.0,32066.0
3,Albania,ALB,Net migration,SM.POP.NETM,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-443212.0,-179606.0,-176774.0,-217358.0,-136590.0,-69998.0
4,Andorra,AND,Net migration,SM.POP.NETM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Net migration,SM.POP.NETM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Net migration,SM.POP.NETM,-100000.0,-245662.0,-360993.0,-75000.0,-50000.0,-50000.0,607781.0,-100000.0,-112150.0,-65768.0,-75010.0,-150000.0
261,South Africa,ZAF,Net migration,SM.POP.NETM,106550.0,199359.0,222659.0,73316.0,180998.0,-118001.0,852860.0,639902.0,788982.0,862221.0,919697.0,727026.0
262,Zambia,ZMB,Net migration,SM.POP.NETM,-35328.0,-22042.0,-20000.0,-25000.0,10000.0,-75000.0,-150000.0,20000.0,-150000.0,-175000.0,-50000.0,-40000.0
263,Zimbabwe,ZWE,Net migration,SM.POP.NETM,-15009.0,-42001.0,-45547.0,-152283.0,99068.0,84354.0,-298236.0,-524671.0,-697817.0,-512676.0,-622997.0,-584288.0

In [39]:
migration_table.to_csv('migration_to_combine.csv')

In [13]:
columuns_to_use=list(migration_table.columns)

In [15]:
population_to_use=population_table[columuns_to_use].copy()

In [16]:
population_to_use

,Country Name,Country Code,Indicator Name,Indicator Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,56225.0,58055.0,59840.0,60366.0,61345.0,61833.0,68235.0,85451.0,94992.0,101222.0,102560.0,105366.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9351441.0,10399926.0,11791215.0,13171306.0,12882528.0,11604534.0,14485546.0,19357126.0,22600770.0,27100536.0,31161376.0,36296400.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5608539.0,5774243.0,6248552.0,7533735.0,8952950.0,10689250.0,12657366.0,14871570.0,17519417.0,20905363.0,25107931.0,29816748.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1711319.0,1965598.0,2243126.0,2513546.0,2784278.0,3083605.0,3247039.0,3148281.0,3051010.0,2970017.0,2900401.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,15370.0,20758.0,26892.0,32771.0,39114.0,48455.0,58888.0,64327.0,70049.0,82684.0,82427.0,77001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,994000.0,1135000.0,1278000.0,1430000.0,1582000.0,1753000.0,1932000.0,2086000.0,1702310.0,1733404.0,1807106.0,1791003.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5473671.0,5907874.0,6390574.0,7178675.0,8541605.0,10322043.0,12954155.0,15975668.0,18443691.0,21282515.0,24473178.0,27834821.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17965725.0,20406864.0,23281508.0,26480913.0,30150448.0,34297727.0,38672607.0,42987461.0,46150913.0,49119759.0,52834005.0,57000451.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3260650.0,3797873.0,4466174.0,5287548.0,6265864.0,7372837.0,8451347.0,9597609.0,10971698.0,12502958.0,14465121.0,16853688.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,4039201.0,4779827.0,5673911.0,6712827.0,7958241.0,9527203.0,10900502.0,11653242.0,11954290.0,12255922.0,13115131.0,14236745.0

In [21]:
clean_cols=['Indicator Name', 'Indicator Code',
       '1962', '1967', '1972', '1977', '1982', '1987', '1992', '1997', '2002',
       '2007', '2012', '2017']

In [22]:
population_to_use=population_to_use[clean_cols].copy()

In [23]:
population_to_use

,Indicator Name,Indicator Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,"Population, total",SP.POP.TOTL,56225.0,58055.0,59840.0,60366.0,61345.0,61833.0,68235.0,85451.0,94992.0,101222.0,102560.0,105366.0
1,"Population, total",SP.POP.TOTL,9351441.0,10399926.0,11791215.0,13171306.0,12882528.0,11604534.0,14485546.0,19357126.0,22600770.0,27100536.0,31161376.0,36296400.0
2,"Population, total",SP.POP.TOTL,5608539.0,5774243.0,6248552.0,7533735.0,8952950.0,10689250.0,12657366.0,14871570.0,17519417.0,20905363.0,25107931.0,29816748.0
3,"Population, total",SP.POP.TOTL,1711319.0,1965598.0,2243126.0,2513546.0,2784278.0,3083605.0,3247039.0,3148281.0,3051010.0,2970017.0,2900401.0,2873457.0
4,"Population, total",SP.POP.TOTL,15370.0,20758.0,26892.0,32771.0,39114.0,48455.0,58888.0,64327.0,70049.0,82684.0,82427.0,77001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Population, total",SP.POP.TOTL,994000.0,1135000.0,1278000.0,1430000.0,1582000.0,1753000.0,1932000.0,2086000.0,1702310.0,1733404.0,1807106.0,1791003.0
260,"Population, total",SP.POP.TOTL,5473671.0,5907874.0,6390574.0,7178675.0,8541605.0,10322043.0,12954155.0,15975668.0,18443691.0,21282515.0,24473178.0,27834821.0
261,"Population, total",SP.POP.TOTL,17965725.0,20406864.0,23281508.0,26480913.0,30150448.0,34297727.0,38672607.0,42987461.0,46150913.0,49119759.0,52834005.0,57000451.0
262,"Population, total",SP.POP.TOTL,3260650.0,3797873.0,4466174.0,5287548.0,6265864.0,7372837.0,8451347.0,9597609.0,10971698.0,12502958.0,14465121.0,16853688.0
263,"Population, total",SP.POP.TOTL,4039201.0,4779827.0,5673911.0,6712827.0,7958241.0,9527203.0,10900502.0,11653242.0,11954290.0,12255922.0,13115131.0,14236745.0

In [38]:
population_to_use.to_csv('population_to_combine.csv')

In [35]:
combined_data = pd.concat([migration_table,population_to_use],
                          axis=1).reindex(migration_table.index)
#df4.reindex(df1.index)

In [36]:
combined_data

,Country Name,Country Code,Indicator Name,Indicator Code,1962,1967,1972,1977,1982,1987,...,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,Aruba,ABW,Net migration,SM.POP.NETM,-4323.0,-4275.0,-3537.0,-5470.0,-1921.0,-5194.0,...,59840.0,60366.0,61345.0,61833.0,68235.0,85451.0,94992.0,101222.0,102560.0,105366.0
1,Afghanistan,AFG,Net migration,SM.POP.NETM,-20000.0,-20000.0,-20000.0,-1153959.0,-3345095.0,-1525351.0,...,11791215.0,13171306.0,12882528.0,11604534.0,14485546.0,19357126.0,22600770.0,27100536.0,31161376.0,36296400.0
2,Angola,AGO,Net migration,SM.POP.NETM,-296717.0,-587286.0,199800.0,199800.0,234148.0,188491.0,...,6248552.0,7533735.0,8952950.0,10689250.0,12657366.0,14871570.0,17519417.0,20905363.0,25107931.0,29816748.0
3,Albania,ALB,Net migration,SM.POP.NETM,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,2243126.0,2513546.0,2784278.0,3083605.0,3247039.0,3148281.0,3051010.0,2970017.0,2900401.0,2873457.0
4,Andorra,AND,Net migration,SM.POP.NETM,NaN,NaN,NaN,NaN,NaN,NaN,...,26892.0,32771.0,39114.0,48455.0,58888.0,64327.0,70049.0,82684.0,82427.0,77001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Net migration,SM.POP.NETM,NaN,NaN,NaN,NaN,NaN,NaN,...,1278000.0,1430000.0,1582000.0,1753000.0,1932000.0,2086000.0,1702310.0,1733404.0,1807106.0,1791003.0
260,"Yemen, Rep.",YEM,Net migration,SM.POP.NETM,-100000.0,-245662.0,-360993.0,-75000.0,-50000.0,-50000.0,...,6390574.0,7178675.0,8541605.0,10322043.0,12954155.0,15975668.0,18443691.0,21282515.0,24473178.0,27834821.0
261,South Africa,ZAF,Net migration,SM.POP.NETM,106550.0,199359.0,222659.0,73316.0,180998.0,-118001.0,...,23281508.0,26480913.0,30150448.0,34297727.0,38672607.0,42987461.0,46150913.0,49119759.0,52834005.0,57000451.0
262,Zambia,ZMB,Net migration,SM.POP.NETM,-35328.0,-22042.0,-20000.0,-25000.0,10000.0,-75000.0,...,4466174.0,5287548.0,6265864.0,7372837.0,8451347.0,9597609.0,10971698.0,12502958.0,14465121.0,16853688.0
263,Zimbabwe,ZWE,Net migration,SM.POP.NETM,-15009.0,-42001.0,-45547.0,-152283.0,99068.0,84354.0,...,5673911.0,6712827.0,7958241.0,9527203.0,10900502.0,11653242.0,11954290.0,12255922.0,13115131.0,14236745.0

In [37]:
combined_data.shape

(264, 30)

In [40]:
combine_to_use=pd.read_csv('combine_to_use.csv')

In [41]:
combine_to_use

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1962,1967,1972,1977,1982,...,1972.1,1977.1,1982.1,1987.1,1992.1,1997.1,2002.1,2007.1,2012.1,2017.1
0,0,Aruba,ABW,Net migration,SM.POP.NETM,-4323.0,-4275.0,-3537.0,-5470.0,-1921.0,...,59840.0,60366.0,61345.0,61833.0,68235.0,85451.0,94992.0,101222.0,102560.0,105366.0
1,1,Afghanistan,AFG,Net migration,SM.POP.NETM,-20000.0,-20000.0,-20000.0,-1153959.0,-3345095.0,...,11791215.0,13171306.0,12882528.0,11604534.0,14485546.0,19357126.0,22600770.0,27100536.0,31161376.0,36296400.0
2,2,Angola,AGO,Net migration,SM.POP.NETM,-296717.0,-587286.0,199800.0,199800.0,234148.0,...,6248552.0,7533735.0,8952950.0,10689250.0,12657366.0,14871570.0,17519417.0,20905363.0,25107931.0,29816748.0
3,3,Albania,ALB,Net migration,SM.POP.NETM,-99.0,-99.0,-99.0,-99.0,-99.0,...,2243126.0,2513546.0,2784278.0,3083605.0,3247039.0,3148281.0,3051010.0,2970017.0,2900401.0,2873457.0
4,4,Andorra,AND,Net migration,SM.POP.NETM,NaN,NaN,NaN,NaN,NaN,...,26892.0,32771.0,39114.0,48455.0,58888.0,64327.0,70049.0,82684.0,82427.0,77001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,Net migration,SM.POP.NETM,NaN,NaN,NaN,NaN,NaN,...,1278000.0,1430000.0,1582000.0,1753000.0,1932000.0,2086000.0,1702310.0,1733404.0,1807106.0,1791003.0
260,260,"Yemen, Rep.",YEM,Net migration,SM.POP.NETM,-100000.0,-245662.0,-360993.0,-75000.0,-50000.0,...,6390574.0,7178675.0,8541605.0,10322043.0,12954155.0,15975668.0,18443691.0,21282515.0,24473178.0,27834821.0
261,261,South Africa,ZAF,Net migration,SM.POP.NETM,106550.0,199359.0,222659.0,73316.0,180998.0,...,23281508.0,26480913.0,30150448.0,34297727.0,38672607.0,42987461.0,46150913.0,49119759.0,52834005.0,57000451.0
262,262,Zambia,ZMB,Net migration,SM.POP.NETM,-35328.0,-22042.0,-20000.0,-25000.0,10000.0,...,4466174.0,5287548.0,6265864.0,7372837.0,8451347.0,9597609.0,10971698.0,12502958.0,14465121.0,16853688.0
263,263,Zimbabwe,ZWE,Net migration,SM.POP.NETM,-15009.0,-42001.0,-45547.0,-152283.0,99068.0,...,5673911.0,6712827.0,7958241.0,9527203.0,10900502.0,11653242.0,11954290.0,12255922.0,13115131.0,14236745.0

In [43]:
combine_to_use.columns

Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', '1962', '1967', '1972', '1977', '1982', '1987',
       '1992', '1997', '2002', '2007', '2012', '2017', 'Indicator Name.1',
       'Indicator Code.1', '1962.1', '1967.1', '1972.1', '1977.1', '1982.1',
       '1987.1', '1992.1', '1997.1', '2002.1', '2007.1', '2012.1', '2017.1'],
      dtype='object')